<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lvtuben.istio.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lvtuben.istio.user.dao.UserDAO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap">
        SELECT * from
        tab_user
        WHERE
        id = #{id}
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
        select * from
        tab_user
    </select>

</mapper>
